<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>El uso de Bluetooth es necesario para ubicarte dentro de la experiencia y poder hacerte partícipe del espectáculo.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>El uso de Bluetooth es necesario para ubicarte dentro de la experiencia y poder hacerte partícipe del espectáculo.</string>
	<key>NSCameraUsageDescription</key>
	<string>Forma parte del espectáculo compartiéndonos el uso de de tu cámara, tómate una foto y elige tu playera favorita de la Selección.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>El uso de la locación es necesario para ubicarte dentro de la experiencia y poder hacerte partícipe del espectáculo.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>El uso de la locación es necesario para ubicarte dentro de la experiencia y poder hacerte partícipe del espectáculo.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necesitamos el uso de tu micrófono para poderte sincronizar con la experiencia. Únicamente escucharemos la guía ultrasónica de la experiencia. Ningún otro audio será procesado, almacenado o enviado fuera del teléfono.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Forma parte del espectáculo dándonos acceso a tu galería de fotos y selecciona una con la cual quieras participar.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>OperaBlackOblique.otf</string>
		<string>OperaBoldOblique.otf</string>
		<string>OperaInlineOblique.otf</string>
		<string>OperaLightOblique.otf</string>
		<string>OperaMediumOblique.otf</string>
		<string>OperaOutlineOblique.otf</string>
		<string>OperaRegularOblique.otf</string>
		<string>OperaStencilOblique.otf</string>
		<string>OperaThinOblique.otf</string>
		<string>OperaWesternOblique.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
